:root {
    --bg: rgba(0,0,0,0);
    --fg: rgba(0,0,0,0);
}

html,body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background: var(--bg);
    color: var(--fg);
}

.application {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3em 11fr 3fr;
}

.application .top {
    background: rgba(0,0,0,0.1);
}

.application .middle {
    display: grid;
    grid-template-columns: 300px auto;
}

.application .middle .left {
    background: rgba(0,0,0,0.3);
}

.application .middle .editors-container {
    padding-top: 1em;
    height: calc(100% - 1em);
    display: grid;
}

.application .bottom {
    background: rgba(0,0,0,0.5);
}